colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.13" and sys_platform == "win32"
loguru==0.7.2 ; python_version >= "3.10" and python_version < "3.13"
pillow==10.1.0 ; python_version >= "3.10" and python_version < "3.13"
pyside6-addons==6.6.0 ; python_version >= "3.10" and python_version < "3.13"
pyside6-essentials==6.6.0 ; python_version >= "3.10" and python_version < "3.13"
pyside6==6.6.0 ; python_version >= "3.10" and python_version < "3.13"
shiboken6==6.6.0 ; python_version >= "3.10" and python_version < "3.13"
toml==0.10.2 ; python_version >= "3.10" and python_version < "3.13"
types-pillow==10.1.0.0 ; python_version >= "3.10" and python_version < "3.13"
win32-setctime==1.1.0 ; python_version >= "3.10" and python_version < "3.13" and sys_platform == "win32"
